@charset "UTF-8";
.suppress-link， .suppress-link *, .suppress-link:hover, .suppress-link *:hover {
  text-decoration: none !important;
}

a.reset-link, a.reset-link:hover, a.reset-link:active, a.reset-link:visited {
  color: inherit;
  text-decoration: none !important;
}

.content-serif h1, .content-serif h2, .content-serif h3, .content-serif h4, .content-serif h5 {
  font-family: var(--ew-font-serif);
  font-weight: var(--ew-font-weight-semibold);
}
.content-serif, .content-serif p, .content-serif span, .content-serif small, .content-serif button, .content-serif a {
  font-family: var(--ew-font-serif);
}
.content-serif *.jinja2-timestamp {
  font-family: initial;
}
.content-serif .post-tags, .content-serif .post-tags * {
  font-family: initial;
}

.text-0_85 {
  font-size: 0.85em;
}

.text-0_75 {
  font-size: 0.75em;
}

.text-0_50 {
  font-size: 0.5em;
}

h3.h3-small {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.indent-paragraph h1 {
  text-indent: 0;
}
.indent-paragraph p {
  text-indent: 2em;
}
.indent-paragraph p.suppress-margin {
  margin-bottom: 0.25rem;
}

a.link-unstyled, a.link-unstyled:link, a.link-unstyled:hover {
  color: inherit !important;
  text-decoration: inherit !important;
}

a.link-unstyled:hover span.re-link-style {
  text-decoration: underline;
}

.content-serif h1, .content-serif h2, .content-serif h3, .content-serif h4, .content-serif h5, .content-serif h6 {
  font-weight: 700;
  margin-top: 0.35em;
}
.content-serif p {
  font-size: 1.25em;
  line-height: 1.75em;
  margin-bottom: 1.125em;
}
.content-serif#post-toc > p {
  font-weight: 900;
}
.content-serif#post-toc li {
  font-weight: 700;
}

.content-justify p {
  text-justify: inter-ideograph;
  text-align: justify;
}

.text-serif {
  font-family: "Noto Serif SC", serif;
}

#content-container p code, #content-container ol code, #content-container ul code {
  background-color: #f7f7f7;
  border-radius: 4px;
  padding: 2px 4px;
  vertical-align: text-bottom;
  position: relative;
  top: 0.05em;
}
#content-container ol li a,
#content-container ul li a {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

body {
  font-size: 16px;
  font-weight: normal;
}

a, a:visited, a:active {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

.table.ext-nowrap td,
.table.ext-nowrap th {
  white-space: nowrap;
}

.markdown-rendered p img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 4px 4px 24px 2px rgba(0, 0, 0, 0.16);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  .toast-container-global {
    width: 100vw;
    padding: 0 !important;
  }
  .toast-container-global .toast {
    width: 100%;
    border-radius: 0;
    border: 0;
  }
}
.navbar .nav-link a {
  color: #ffffff;
}
.navbar .nav-link a:hover {
  color: #c4e6fd;
}
.navbar .navbar-brand {
  font-family: var(--ew-font-serif);
  font-weight: var(--ew-font-weight-black);
}

.markdown-rendered .post-info small {
  font-size: 0.75em;
}
.markdown-rendered .post-info .author-avatar {
  width: var(--ew-avatar-size);
  height: var(--ew-avatar-size);
  overflow: hidden;
}
.markdown-rendered .post-info .author-avatar img {
  width: 100%;
  height: 100%;
}
.markdown-rendered .post-info .author-name {
  font-weight: var(--ew-font-weight-medium);
}
.markdown-rendered #post-toc-nav a {
  color: var(--bs-black);
}

.text-footer-small {
  font-size: 0.75em;
}

.tag-group span.badge {
  font-weight: 500;
  font-size: 0.925em;
  margin: 2px;
}

#post-toc > p {
  margin: 0.75em 0 0.35em 0;
}
#post-toc li {
  padding-left: 0.25em;
}

.post-content pre,
.post-content pre > code {
  font-family: "Fira Code", "Courier New", Courier, monospace;
}
.post-content pre {
  border: 1px solid #d9d2c2;
  background-color: #fdfcfb;
  border-radius: 6px;
  padding: 0.5em 1em;
}
.post-content blockquote {
  border-left: 0.25rem solid #75abe0;
  padding: 0.25rem 0 0.25rem 1rem;
  color: #43709c;
}
.post-content blockquote p:last-child {
  margin-bottom: 0;
}
.post-content blockquote.markdown-callout {
  border: none;
  border-radius: 4px;
  background-color: rgba(108, 153, 187, 0.1);
  padding: 12px 12px 12px 24px;
  margin: 1em 0;
}
.post-content blockquote.markdown-callout div.callout-title {
  color: rgb(108, 153, 187);
  font-weight: 600;
  margin-bottom: 1em;
}
.post-content blockquote.markdown-callout div.callout-title::before {
  display: inline-block;
  font-family: "Font Awesome 6 Free";
  content: "\f303";
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  color: rgb(108, 153, 187);
}
.post-content blockquote.markdown-callout-note {
  background-color: rgba(108, 153, 187, 0.1);
}
.post-content blockquote.markdown-callout-note > div.callout-title {
  color: rgb(108, 153, 187);
}
.post-content blockquote.markdown-callout-note > div.callout-title::before {
  color: rgb(108, 153, 187);
  content: "\f303";
}
.post-content blockquote.markdown-callout-abstract,
.post-content blockquote.markdown-callout-tldr,
.post-content blockquote.markdown-callout-summary {
  background-color: rgba(0, 191, 188, 0.1);
}
.post-content blockquote.markdown-callout-abstract > div.callout-title,
.post-content blockquote.markdown-callout-tldr > div.callout-title,
.post-content blockquote.markdown-callout-summary > div.callout-title {
  color: rgb(0, 191, 188);
}
.post-content blockquote.markdown-callout-abstract > div.callout-title::before,
.post-content blockquote.markdown-callout-tldr > div.callout-title::before,
.post-content blockquote.markdown-callout-summary > div.callout-title::before {
  color: rgb(0, 191, 188);
  content: "\f46d";
}
.post-content blockquote.markdown-callout-info {
  background-color: rgba(8, 109, 221, 0.1);
}
.post-content blockquote.markdown-callout-info > div.callout-title {
  color: rgb(8, 109, 221);
}
.post-content blockquote.markdown-callout-info > div.callout-title::before {
  color: rgb(8, 109, 221);
  content: "\f05a";
}
.post-content blockquote.markdown-callout-todo {
  background-color: rgba(8, 109, 221, 0.1);
}
.post-content blockquote.markdown-callout-todo > div.callout-title {
  color: rgb(8, 109, 221);
}
.post-content blockquote.markdown-callout-todo > div.callout-title::before {
  color: rgb(8, 109, 221);
  content: "\f058";
}
.post-content blockquote.markdown-callout-tip,
.post-content blockquote.markdown-callout-hint,
.post-content blockquote.markdown-callout-important {
  background-color: rgba(0, 191, 188, 0.1);
}
.post-content blockquote.markdown-callout-tip > div.callout-title,
.post-content blockquote.markdown-callout-hint > div.callout-title,
.post-content blockquote.markdown-callout-important > div.callout-title {
  color: rgb(0, 191, 188);
}
.post-content blockquote.markdown-callout-tip > div.callout-title::before,
.post-content blockquote.markdown-callout-hint > div.callout-title::before,
.post-content blockquote.markdown-callout-important > div.callout-title::before {
  color: rgb(0, 191, 188);
  content: "\f06d";
}
.post-content blockquote.markdown-callout-success,
.post-content blockquote.markdown-callout-check,
.post-content blockquote.markdown-callout-done {
  background-color: rgba(8, 185, 78, 0.1);
}
.post-content blockquote.markdown-callout-success > div.callout-title,
.post-content blockquote.markdown-callout-check > div.callout-title,
.post-content blockquote.markdown-callout-done > div.callout-title {
  color: rgb(8, 185, 78);
}
.post-content blockquote.markdown-callout-success > div.callout-title::before,
.post-content blockquote.markdown-callout-check > div.callout-title::before,
.post-content blockquote.markdown-callout-done > div.callout-title::before {
  color: rgb(8, 185, 78);
  content: "\f00c";
}
.post-content blockquote.markdown-callout-question,
.post-content blockquote.markdown-callout-faq,
.post-content blockquote.markdown-callout-help {
  background-color: rgba(236, 117, 0, 0.1);
}
.post-content blockquote.markdown-callout-question > div.callout-title,
.post-content blockquote.markdown-callout-faq > div.callout-title,
.post-content blockquote.markdown-callout-help > div.callout-title {
  color: rgb(236, 117, 0);
}
.post-content blockquote.markdown-callout-question > div.callout-title::before,
.post-content blockquote.markdown-callout-faq > div.callout-title::before,
.post-content blockquote.markdown-callout-help > div.callout-title::before {
  color: rgb(236, 117, 0);
  content: "\f059";
}
.post-content blockquote.markdown-callout-warning,
.post-content blockquote.markdown-callout-caution,
.post-content blockquote.markdown-callout-attention {
  background-color: rgba(236, 117, 0, 0.1);
}
.post-content blockquote.markdown-callout-warning > div.callout-title,
.post-content blockquote.markdown-callout-caution > div.callout-title,
.post-content blockquote.markdown-callout-attention > div.callout-title {
  color: rgb(236, 117, 0);
}
.post-content blockquote.markdown-callout-warning > div.callout-title::before,
.post-content blockquote.markdown-callout-caution > div.callout-title::before,
.post-content blockquote.markdown-callout-attention > div.callout-title::before {
  color: rgb(236, 117, 0);
  content: "\f071";
}
.post-content blockquote.markdown-callout-failure,
.post-content blockquote.markdown-callout-fail,
.post-content blockquote.markdown-callout-missing {
  background-color: rgba(233, 49, 71, 0.1);
}
.post-content blockquote.markdown-callout-failure > div.callout-title,
.post-content blockquote.markdown-callout-fail > div.callout-title,
.post-content blockquote.markdown-callout-missing > div.callout-title {
  color: rgb(233, 49, 71);
}
.post-content blockquote.markdown-callout-failure > div.callout-title::before,
.post-content blockquote.markdown-callout-fail > div.callout-title::before,
.post-content blockquote.markdown-callout-missing > div.callout-title::before {
  color: rgb(233, 49, 71);
  content: "\f00d";
}
.post-content blockquote.markdown-callout-danger,
.post-content blockquote.markdown-callout-error {
  background-color: rgba(233, 49, 71, 0.1);
}
.post-content blockquote.markdown-callout-danger > div.callout-title,
.post-content blockquote.markdown-callout-error > div.callout-title {
  color: rgb(233, 49, 71);
}
.post-content blockquote.markdown-callout-danger > div.callout-title::before,
.post-content blockquote.markdown-callout-error > div.callout-title::before {
  color: rgb(233, 49, 71);
  content: "\f0e7";
}
.post-content blockquote.markdown-callout-bug {
  background-color: rgba(233, 49, 71, 0.1);
}
.post-content blockquote.markdown-callout-bug > div.callout-title {
  color: rgb(233, 49, 71);
}
.post-content blockquote.markdown-callout-bug > div.callout-title::before {
  color: rgb(233, 49, 71);
  content: "\f188";
}
.post-content blockquote.markdown-callout-example {
  background-color: rgba(120, 82, 238, 0.1);
}
.post-content blockquote.markdown-callout-example > div.callout-title {
  color: rgb(120, 82, 238);
}
.post-content blockquote.markdown-callout-example > div.callout-title::before {
  color: rgb(120, 82, 238);
  content: "\f03a";
}
.post-content blockquote.markdown-callout-quote,
.post-content blockquote.markdown-callout-cite {
  background-color: rgba(158, 158, 158, 0.1);
}
.post-content blockquote.markdown-callout-quote > div.callout-title,
.post-content blockquote.markdown-callout-cite > div.callout-title {
  color: rgb(158, 158, 158);
}
.post-content blockquote.markdown-callout-quote > div.callout-title::before,
.post-content blockquote.markdown-callout-cite > div.callout-title::before {
  color: rgb(158, 158, 158);
  content: "\f10e";
}
@media screen and (max-width: 480px) {
  .post-content ul, .post-content ol {
    padding-left: 1rem;
  }
}
.post-content h1 sup, .post-content h2 sup, .post-content h3 sup, .post-content h4 sup, .post-content h5 sup, .post-content h6 sup {
  vertical-align: super;
}
.post-content h1 sup, .post-content h2 sup, .post-content h3 sup {
  font-size: 0.5em;
}
.post-content h4 sup, .post-content h5 sup, .post-content h6 sup {
  font-size: 0.75em;
}
.post-content .footnote-reference a.offset-footnote-ref {
  display: inline-block;
  position: relative;
  top: -64px;
  visibility: hidden;
}
.post-content .footnote-definition {
  display: flex;
  color: #636363;
}
.post-content .footnote-definition sup.footnote-definition-label {
  vertical-align: super;
  position: inherit;
  margin-right: 0.75em;
  line-height: 1em;
}
.post-content .footnote-definition p {
  margin-bottom: 0.25em;
}

/*# sourceMappingURL=base.css.map */
