.text-0_85
  font-size: 0.85em

.text-0_75
  font-size: 0.75em

.text-0_50
  font-size: 0.5em

h3.h3-small
  font-size: 1.25rem
  margin-top: 1rem

.indent-paragraph
  h1
    text-indent: 0
  p
    text-indent: 2em
  p.suppress-margin
    margin-bottom: 0.25rem

a.link-unstyled, a.link-unstyled:link, a.link-unstyled:hover
  color: inherit !important
  text-decoration: inherit !important

a.link-unstyled:hover
  span.re-link-style
    text-decoration: underline


.content-serif
  h1, h2, h3, h4, h5, h6
    font-weight: 700
    margin-top: 0.35em


  p
    font-size: 1.25em
    line-height: 1.75em
    margin-bottom: 1.125em
  &#post-toc
    & > p
      font-weight: 900
    & li 
      font-weight: 700

.content-justify
  p
    text-justify: inter-ideograph // IE
    text-align: justify

.text-serif
  font-family: "Noto Serif SC", serif