{% extends 'base.jinja2' %}

{% block web_title %}{{ title }} | {{ g.site_name }}{% endblock %}

{% block styles %}
    {{ inline_css('codehilite.css') }}
{% endblock %}

{% block web_content %}
    <nav class="navbar navbar-expand sticky-top bg-primary navbar-primary">
        <div class="container">
            <div class="navbar-brand suppress-link">
                <a href="{{ g.site_home }}"><span class="ms-2 text-light">{{ g.site_name }}</span></a>
            </div>
        </div>
    </nav>

    <div class="d-block mt-3"></div>
    <div class="blog-hero"></div>
    <div class="container">
        <div class="container markdown-rendered {{ 'content-serif' if flag_content_serif==1 }}">
            <div class="row justify-content-center">
                {% if flag_disable_toc != 1 %}
                    <div class="col col-lg-3 d-none d-lg-block" id="post-toc">
                    </div>
                {% endif %}
                <div class="col col-12 col-lg-9">
                    <div class="container markdown-rendered {{ 'content-serif' if flag_content_serif==1 }}"
                         data-bs-spy="scroll" data-bs-target="#post-toc-nav" data-bs-smooth-scroll="true"
                         tabindex="0">
                        <div class="row">
                            <div class="col col-12 col-md-10 col-lg-8" id="content-container">
                                <h2 id="post-title">{{ title }}</h2>
                                <div class="post-info mt-4 mb-1">
                                    <div class="post-info-author d-flex justify-content-start align-items-center">
                                        <div class="author-avatar rounded rounded-circle text-bg-secondary text-center">{{ author[0] }}</div>
                                        <div class="d-flex flex-column align-items-start ms-2">
                                            <span class="author-name">{{ author }}</span>
                                            <small class="text-muted jinja2-timestamp" data-convert="1"
                                                   data-timestamp="{{ updated_at }}"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-tags mt-2 mb-4">
                                    <div class="row">
                                        <div class="col d-flex">
                                            {% for tag in tags %}
                                                {% if loop.index0 == 0 %}
                                                    <span class="d-block badge rounded text-bg-light fw-normal suppress-link"><a
                                                            href="/tag/{{ tag }}/">{{ tag }}</a></span>
                                                {% else %}
                                                    <span class="d-block badge rounded text-bg-light fw-normal suppress-link ms-1"><a
                                                            href="/tag/{{ tag }}/">{{ tag }}</a></span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="post-content">{{ html }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-links mt-5">
        <div class="container">
            <div class="row">
                <div class="col col-md-6 col-lg-4">
                    <h3 class="h3-home">博文标签</h3>
                    <p>按 10 个热门标签浏览，或查看<a href="/tags/">全部标签</a>。</p>
                    <ul class="list-group">
                        {% for tag in site_tags %}
                            <li class="list-group-item"><a href="/tag/{{ tag }}/">{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-about"></div>
{% endblock %}

{% block scripts %}
    {{ inline_js('toc.js') }}
    <script>
        window.addEventListener("load", () => {
            window.addEventListener('adjust-images', () => {
                const content_container = document.querySelector('#content-container');
                if (!content_container) return false;
                content_container.querySelectorAll("img").forEach(ele => {
                    let src = ele.getAttribute('src');
                    let size_attr_match = src.match(/#([\d.]+x[\d.]+)$/);
                    if (!size_attr_match) return false;
                    let [width, height] = size_attr_match[1].split('x').map(i => parseFloat(i));
                    let ratio = height > 0 ? width / height : 1;

                    let container_width = content_container.getBoundingClientRect().width;
                    let screen_height = window.document.body.clientHeight;
                    ele.style.maxWidth = `${Math.min(container_width, width)}px`;
                    ele.style.maxHeight = `${Math.min(screen_height, height)}px`;

                })
            })
            window.dispatchEvent(new Event('adjust-images'));
        });

        window.addEventListener('resize', () => {
            window.dispatchEvent(new Event('adjust-images'))
        })
    </script>
{% endblock %}