{% extends 'base.jinja2' %}

{% block web_title %}{{ tag_name }} | {{ site_name }}{% endblock %}

{% block web_content %}

    <div class="container">

        <div class="container markdown-rendered">
            <div class="row">
                <div class="col col-12 col-md-10 col-lg-8" id="content-container">
                    <h2 id="post-title">{{ title }}</h2>
                    <div class="post-info">
                        <div class="post-info-author">
                            <div class="rounded">{{ author[0] }}</div>
                            <span>{{ author }}</span>
                        </div>
                    </div>
                    <div class="post-tags m-1">
                        {% for tag in tags %}
                            <span class="badge rounded text-bg-light"><a href="/tag/{{ tag }}/">{{ tag }}</a></span>
                        {% endfor %}
                    </div>
                    {{ html }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        window.addEventListener("load", () => {
            window.addEventListener('adjust-images', () => {
                const content_container = document.querySelector('#content-container');
                if (!content_container) return false;
                content_container.querySelectorAll("img").forEach(ele => {
                    let src = ele.getAttribute('src');
                    let size_attr_match = src.match(/#([\d.]+x[\d.]+)$/);
                    if (!size_attr_match) return false;
                    let [width, height] = size_attr_match[1].split('x').map(i => parseFloat(i));
                    let ratio = height > 0 ? width / height : 1;

                    let container_width = content_container.getBoundingClientRect().width;
                    let screen_height = window.document.body.clientHeight;
                    ele.style.maxWidth = `${Math.min(container_width, width)}px`;
                    ele.style.maxHeight = `${Math.min(screen_height, height)}px`;

                })
            })
        });

        window.dispatchEvent(new Event('adjust-images'));
        window.addEventListener('resize', () => {
            window.dispatchEvent(new Event('adjust-images'))
        })
    </script>
{% endblock %}